.debug-mobile-line {
    position: fixed; /* aby sa nehýbal pri scrollovaní */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    height: 100vh; /* ide cez celú výšku obrazovky */
    border-left: 2px dashed #65f42a;
    border-right: 2px dashed #65f42a;
    pointer-events: none; /* aby neblokoval klikanie na nič pod sebou */
    z-index: 9999; /* úplne navrchu */
  }

.debug-tablet-port-line {
    position: fixed; /* aby sa nehýbal pri scrollovaní */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 768px;
    height: 100vh; /* ide cez celú výšku obrazovky */
    border-left: 2px dashed #245e08;
    border-right: 2px dashed #245e08;
    pointer-events: none; /* aby neblokoval klikanie na nič pod sebou */
    z-index: 9999; /* úplne navrchu */
}

.debug-tablet-land-line {
    position: fixed; /* aby sa nehýbal pri scrollovaní */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1024px;
    height: 100vh; /* ide cez celú výšku obrazovky */
    border-left: 2px dashed #b7b713;
    border-right: 2px dashed #b7b713;
    pointer-events: none; /* aby neblokoval klikanie na nič pod sebou */
    z-index: 9999; /* úplne navrchu */
}

.debug-desktop-line {
    position: fixed; /* aby sa nehýbal pri scrollovaní */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1280px;
    height: 100vh; /* ide cez celú výšku obrazovky */
    border-left: 2px dashed #890b1a;
    border-right: 2px dashed #890b1a;
    pointer-events: none; /* aby neblokoval klikanie na nič pod sebou */
    z-index: 9999; /* úplne navrchu */
}

/*.debug-max-line {
    position: fixed; /* aby sa nehýbal pri scrollovaní */
    /*top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 100vh; /* ide cez celú výšku obrazovky */
    /*border-left: 2px dashed red;
    border-right: 2px dashed red;
    pointer-events: none; /* aby neblokoval klikanie na nič pod sebou */
    /*z-index: 9999; /* úplne navrchu */
/*}

/*.debug-horizontal-line {
  position: fixed;
  top: 720px;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 2px dashed orange;
  pointer-events: none;
  z-index: 9999;
  }*/