/* === Navigation Logo - same for mobile and desktop === */
.logo-navigation {
    display: flex;
    height: 5rem;
    width: auto;
    min-width: 219px;
    flex-shrink: 0;
}

/* === Mobile Version === */

/* === Turn Off (Mobile Elements) === */

.close-btn {
    display: none;
}

.social-icons-header {
    display: none;
}

/* === Mobile popupMenu Layout/Format/Styles === */

.navigation-menu {
    display: none;
    width: clamp(400px, 90vw, 650px);
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -15%);
    z-index: 1000;
    background-color: #092437;
    border-radius: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding: 2rem;
}

.navigation-menu.active {
    display: flex;
}

/* Zoznam odkazov */
.navigation-menu li {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Ikona (ľavý stĺpec) */
.nav-menu-link-icon {
    width: 2rem;
    flex-shrink: 0;
    display: block;
    text-align: center;
}

/* Text (pravý stĺpec) */
.nav-menu-items {
    display: flex;
    align-items: center;
    font-size: 1.1875rem;
    font-family: 'MarignyBold', sans-serif;
    white-space: nowrap;
    font-weight: 700;
    gap: 1rem;
}

/* Social Icons v popupe */
.social-in-popup {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem; /* Medzera medzi ikonami */
    margin-top: 1 auto; /* margin icon od obsahu */
}

.social-in-popup .social-icons-header {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    background-color: #1f3140;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.social-icons-header:hover .social-icon {
    color: #092437;
}

.social-in-popup .social-icons-header:hover {
    background-color: #ffbb33;
}

/* === Desktop Version === */
@media (min-width: 1279px) {

    /* === Turn Off (Mobile Elements) === */
    
    .burger-btn {
        display: none;
    }
    
    .close-btn {
        display: none !important;
    }

    /* === Desktop Menu Layout/Format/Styles === */

    .navigation-container {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navigation-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-direction: row;
        width: fit-content;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: auto 0;
        background-color: #092437;
        border-radius: 9999px;
        margin: auto 0;
        padding: 1rem 2rem;
        gap: 4rem;
    }

    .nav-menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.1rem; /* medzera medzi ikonou a textom */
        font-family: 'MarignyBold', sans-serif;
        font-weight: 700;
        font-size: 1rem;
    }

    .nav-menu-link-icon {
        height: 1.5rem;
        flex-shrink: 0;
        display: block;
        text-align: center;
    }

    /* === Desktop Header Social Icons Layout/Styles/Format === */

    .social-header-container {
        /*outline: 2px dashed orangered;*/
        display: flex;
        justify-content: end;
        gap: 0.5rem;
    }

    .social-icons-header {
        width: 2.7rem; /* circle size */
        height: 2.7rem;
        border-radius: 50%; /* circle */
        background-color: #1f3140;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.15s ease-out, color 0.15s ease-out;
    }
    
    .social-icons-header:hover .social-icon {
        color: #102b3d;
    }
    
    .social-icons-header:hover {
        background-color: #ffbb33;
    }
}