/* === Hero Text === */

.hero-text-container {
    outline: 2px dashed orangered; /* debug temporary lines */
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
    white-space: nowrap;
}

/* === Hero Seedsale === */

.hero-seedsale-container {
    outline: 2px dashed orangered; /* debug temporary lines */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 0.5rem 1rem 0.5rem;
    white-space: nowrap;
}

.seedsale-box-container {
    outline: 2px dashed #0ee0e0; /* debug temporary lines */
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}

/* Seedsale Box Layout */

.seedsale-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.token-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

















/* === Seedsale Info === */
/* Seedsale Title */
.seedsale-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.badge-live {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background: #faac18;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
   
}

.badge-live::before {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    background-color: red;
    border-radius: 50%;
}

.progress-bar {
  height: 24px;
  width: 100%;
  background-color: #605b58;
  border-radius: 999px;
  align-self: center;
  margin-top: 0.5rem;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 80%;
  background-color: #fd5e02;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 2.5px;
  border-radius: 999px;  
}

.progress-labels {
  font-size: 1rem;
  font-family: 'OmnesMedium', sans-serif;
  color: #605b58;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.15rem;
}