.marquee-container {
    overflow: hidden;
    background: #faac18;
    padding: 10px 0;
    width: 100%;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;;
}

.marquee-track {
    display: flex;
    white-space: nowrap;
    will-change: transform;
}

.marquee-content {
    display: flex;
}

.marquee-text {
    font-size: 1.25rem;
    font-family: 'MarignyBlack', sans-serif;
    font-weight: 900;
    color: #000;
    margin-right: 0.3rem;
}

@media (min-width: 1024px) {
    .marquee-container {
        margin-top: 2rem;
        margin-bottom: 2rem;;
    }
}

@media (min-width: 1280px) {
    .marquee-container {
        margin-top: 3rem;
        margin-bottom: 3rem;;
    }
}