/* === Seedsale Box === */

/* Seedsale Info */

.seedsale-text {
    /*font-size: 1.5rem;*/
    font-size: 1.75rem;
    font-family: 'OmnesBold', sans-serif;
    font-weight: 700;
    color: #000000;
}

@media (min-width: 480px) {
    .seedsale-text {
        font-size: 1.875rem;
    }
}

.badge-live {
    font-size: 0.8125rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #16f216;
}

.actual-price1 {
    font-size: 1.0625rem;
    font-family: 'OmnesMedium', sans-serif;
    font-weight: 500;
    color: #3d3c3b;
}

.actual-price2 {
    font-size: 1.125rem;
    font-family: 'OmnesBold', sans-serif;
    font-weight: 700;
    color: #000000;
}

.raised1 {
    /*font-size: 1.0625rem;*/
    font-size: 1.375rem;
    font-family: 'OmnesSemiBold', sans-serif;
    font-weight: 600;
    color: #3d3c3b;
}

.raised2 {
    font-size: 1.4375rem;
    font-family: 'OmnesBlack', sans-serif;
    font-weight: 900;
    color: #000000;
}

/* Token Info */

.token-info-label {
    font-size: 1.1875rem;
    font-family: 'OmnesMedium', sans-serif;
    font-weight: 500;
    color: #3d3c3b;
}

.token-info-value {
    font-size: 1.4375rem;
    font-family: 'OmnesBold', sans-serif;
    font-weight: 700;
    color: #000000;
}

.contract-label {
    font-size: 1.1875rem;
    font-family: 'OmnesMedium', sans-serif;
    font-weight: 500;
    color: #3d3c3b;
}

.contract-value {
    /*font-size: 0.71875rem;*/
    font-size: clamp(0.71875rem, 3.3vw, 0.9375rem);;
    font-family: 'OmnesBold', sans-serif;
    font-weight: 700;
    color: #000000;
    word-break: break-all;
}

@media (min-width: 480px) {
    .contract-value {
        font-size: 0.9375rem;
    }
}

/* CallToAction Info */

.vesting-info {
    font-size: 0.6875rem;
    font-family: 'OmnesSemiBold', sans-serif;
    font-weight: 700;
    color: #ffffff; /* zmenit na bielu */
    margin-top: 1rem;
}

.separator {
    margin: 0 0.3rem;
    color: #3d3c3b;
    font-weight: bold;
}