/* === Headline (h1) === */
.hero-text-container h1 {
    font-size: 1.3125rem;
    font-family: 'MarignyBlack', sans-serif;
    font-weight: 900;
    line-height: 1.3;
}
  
.headline-line {
    display: block;
}

/* Zvýraznená časť nadpisu */
.hero-text-container h1 .highlight {
    font-size: 2.0625rem;
    font-family: 'MarignyBlack', sans-serif;
    font-weight: 900;
    color: #fd5e02;
}

/* === Subheadline (h2) === */
.hero-text-container h2 {
    font-size: 1.25rem;
    font-family: 'OmnesMedium', sans-serif;
    font-weight: 500;
    color: #707070;
    line-height: 1.4;
    margin: 0.8rem 0 1rem 0;
    white-space: nowrap;
}

.subheadline-line {
    display: block;
}

/* Zvýraznené slová v podnadpise */
.hero-text-container h2 .subhighlight {
    color: #faac18;
}

/* === Seedsale Box === */

.seedsale-text {
    font-size: 1.5rem;
    font-family: 'OmnesBold', sans-serif;
    font-weight: 700;
    color: #fff;
}