html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;/*neskor zmenit/odstranit*/
    color: #ffffff;/*neskor zmenit/odstranit*/
    line-height: 1;
}

@font-face {
    font-family: 'MarignyBlack';
    src: url('../assets/fonts/marigny-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MarignyBold';
    src: url('../assets/fonts/marigny-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MarignyMedium';
    src: url('../assets/fonts/marigny-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesBold';
    src: url('../assets/fonts/omnes-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesMedium';
    src: url('../assets/fonts/omnes-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesRegular';
    src: url('../assets/fonts/omnes-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/*
  p {
    font-size: 1rem;
  }*/